.login form {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
img {
  height: 200px;
}
/* main {
  background-color: #f5f5f5;
} */
.sub {
  height: 44px;
  width: 361px;
  border-radius: 99px;
  background-color: #365499;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 1px #365499 solid;
}
input {
  height: 44px;
  width: 345px;
  border-radius: 99px;
  color: rgb(82, 82, 82);
  font-weight: 100;
  font-size: 15px;
  border: 1px solid rgb(187, 187, 187);
  padding-left: 10px;
}
.login {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
}
.mainn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
