body {
  display: flex;
  justify-content: end;
  align-items: end;

  width: 100%;
  height: 100%;
}
#root {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  margin-bottom: 7px;
  width: 100%;
  height: 100%;
}
html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
